:root {
    --morado: #6f42c1;
}

.bg-purple {
    background-color: var(--morado);
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
}

.masonry-container {
    column-count: 2;
    column-gap: 1rem;
}

.masonry-container > div {
    break-inside: avoid;
}

.text-justify {
  text-align: justify;
}