:root {
    --morado: #6f42c1;
}

.bg-purple {
    background-color: var(--morado);
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-header {
    background: white;
    border-bottom: 0;
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    padding-top: 1.5rem;
}

.card-body {
    padding: 6px !important;
}

.masonry-container {
    column-count: 2;
    column-gap: 1rem;
}

.masonry-container > div {
    break-inside: avoid;
}

.text-justify {
  text-align: justify;
}